<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Property Rental Home Page</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../app.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Cinzel|Fjalla+One|Poiret+One" rel="stylesheet"> 
        
    </head>
    
    <body>
        
    <div class="wrapper">
        <div class="header">
            <div class="logo-box">
            <h1 id="inlogo">Spain Villas Rental</h1>
            </div>
        <div class="menu-container">
        <div class="site-nav">
            <ul>
				<li><a href="/">Home</a></li>
				<li><a href="/market">Book Villa (WIP)</a></li>
				<li><a href="/letvillas">Let Villas </a></li>
				<li><a href="/Reviews">Reviews</a></li>
				<li><a href="/bookings">Bookings (WIP)</a></li>
			</ul>
        </div>
        </div>
        </div>