<% include ../partials/header %>
        
        <div class="row">
                <div class="holder">
                    <div class="large">
                      <h1>Welcome to Spain Villas Rental</h1>
                      <h2>Best Willas</h2>
                    </div>
        
             
    
            </div>

            </div>
 
 <% include ../partials/footer %>
       
